<h1>家系ラーメン</h1>
<h3>家系ラーメン一覧ページ</h3>
<h3>投稿を検索</h3>

<%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>
<%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
  <%= text_field_tag :tag %>
  <%= submit_tag 'タグを追加' %>
<% end %>

<%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
  <% Tag.all.each do |t| %>
      <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
  <% end %>
  <%= submit_tag '検索' %>
<% end %>

<%= link_to "新規投稿へ", new_post_path %>
<%= page_entries_info @posts %>
<%= paginate @posts %>
</div>



<div class="posts-container">
  <% @posts.each do |t| %>
    <div class="post">
    <% if user_signed_in? %>
    <% if current_user.already_liked?(t) %>
        <%= button_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
            <p>いいねを取り消す</p><%= t.likes.count %>
        <% end %>
    <% else %>
        <%= button_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
            <p>いいね</p><%= t.likes.count %>
        <% end %>
    <% end %>
<% else %>
    <p>いいねの数 = </p><%= t.likes.count %>
<% end %>
    <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <%= t.name %>
      <%= t.genre %>
      <%= t.address %>
      <%= t.about %>
      <%= t.created_at %>
      <%= t.lat %>
      <%= t.lng %>   
      <%= link_to "詳細へ", post_path(t.id) %>
      <% if user_signed_in? && current_user.id == t.user_id %>
      <%= link_to "編集する", edit_post_path(t.id) %>
      <%= link_to "削除する", post_path(t.id), method: :delete %>
     
      <% end %>

    </div>
  <% end %>
</div>


<div id='map'></div>
<style>
#map {
  height: 600px;
  width: 100%;
}
</style>

<!-- js部分 -->
<script>
    function initMap() {

      //初期表示位置
      let latlng = new google.maps.LatLng(38.60, 139.5);
      //デザイン
      let styles = [
           {
            stylers: [
             { "saturation": 0 },
             { "lightness": 0 }
            ]
           }
          ];

      let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5.5,
          styles: styles,
          center: latlng
      });
      let transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

//複数マーカー ここから
      <% @posts.each do |post|%>
        ( function() { 
          let markerLatLng = { lat: <%= post.lat %>, lng: <%= post.lng %> }; // 緯度経度のデータ作成
          let marker = new google.maps.Marker({ 
            position: markerLatLng, 
            map: map 
          });
//マーカーをクリックしたとき、詳細情報を表示
          let infowindow = new google.maps.InfoWindow({
            position: markerLatLng,
            content: "<a href='<%= post_url(post.id) %>' target='_blank'><%= post.body %></a>"
          }); //ここで詳細ページへのリンクを表示させる
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });

       })();
      <% end %>
      //複数マーカー ここまで  
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDi6Zrqpqqj8a4Tc40SV81MLcfGTT-VLWE&callback=initMap" async defer></script>
